<html> 
<head>
  <title>Customer Segmentation</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body> 
<div>
  <div class="main">
    <div class="header">
      <img src="../static/logo.png" alt="">
    </div>
    <div class="body">
      <h3>Customer Segmentation</h3> 
      <form action="/result" method="POST"> 
        <label for="Annual Income">Annual Income</label> 
        <input type="text" id="Annual Income" name="Annual Income"> 
        <br>
        <label for="Spending Score (1-100)">Spending Score (1-100)</label> 
        <input type="text" id="Spending Score (1-100)" name="Spending Score (1-100)"> 
        <br>       
        <input class='submit-btn' type="submit" value="Submit"> 
      </form> 
    </div>
  </div>
</div> 
</body> 
</html>